@model BierShop9.ViewModels.BreweryBeersVM
@{
    ViewData["Title"] = "GetBeersByBreweriesAjax";
}

<h1>GetBeersByBreweriesAjax</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="GetBeersByBreweriesAjax"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#content"
              data-ajax-loading="#divloading"
              data-ajax-success="Success"
              data-ajax-failure="Failure">
            <div class="form-group">
                <label for="BreweryNumber" class="control-label"></label>
                <select asp-for="BreweryNumber" asp-items="@Model.Breweries">
                    <option>---Please select---</option>
                </select>
            </div>
        </form>
    </div>
</div>

<img id="divloading"
     src="~/images/spinner-sm.gif"
     style="display: none" />
<div id="content">
    <p>No brewer has been selected yet</p>
</div>

@section scripts 
{

    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        //document.getElementById("BreweryNumber") -> $
        $("#BreweryNumber").on("change", () => {

            $("form").trigger("submit");
        });

        let Success = () => {
            $("#divloading").hide();

        }
    </script>

}