@model IEnumerable<BierShop9.ViewModels.BeersVM>

<h2>Beers</h2>


<table id="beerTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Alcohol %</th>
            <th>Brewery</th>
            <th>Variety</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.Naam</td>
                <td>@b.Alcohol</td>
                <td>@b.BrouwerNaam</td>
                <td>@b.SoortNaam</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#beerTable').DataTable({});
        });
    </script>
}